.grey-blue{
    background-color: rgb(0, 109, 119);
}
.teal{
    background-color: rgb(131, 197, 190);
}
.blue-off-white{
    background-color: rgb(237, 246, 249);
}
.light-peach{
    background-color: rgb(255, 221, 210);
}
.salmon{
    background-color: rgb(226, 149, 120);
}