
@import url('reset.css');
@import url('color.css');
@import url('grid.css');
@import url('type.css');
@import url('image.css');
@import url('nav.css');

.disp{
    display: flex;
}
.none{
    display: none;
}


.button{
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 8px;
}

@media (min-width:768px){
.disp-md {
    display: flex;
}
.none-md{
    display: none;
}
}

@media (min-width:1024px){
    .disp-lg {
        display: grid;
    }
    .none-lg{
        display: none;
    }
    }