.navbar{
    display: flex;
}
.navbarlogo{
    max-width: 100px;
    padding: 6px;
}
.menu-icon{
    float:right;
    width: 40px;
    padding: 6px;
    font-size: 2em;
}
.nav-menu{
    padding-left: 10px;
}

nav ul.nav-links{
    list-style: none;
    margin: 0;
    display: none;
    font-weight: 100;
    font-size: 2em;
}
a:link{
    text-decoration: none; 
}

a:visited{
    text-decoration: none; 
}

@media (min-width:768px){
    nav{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .flex-contained{
        display: flex;
        column-gap: 10px;
        max-width: 1024px;
        order: 5;
        flex-grow: 5;
    }
}