 .obet-yellow{
    background-color: rgb(229,183,62);
}
.dels-orange{
    background-color: rgb(163,93,68);
}
.obet-blue{
    background-color: rgb(71,121,190);
}
.dels-navy{
    background-color: rgb(33,67,140);
}
.off-white{
    background-color: rgb(227,218,227);
}