.sm-p-font{
    font-family: regulator-nova, sans-serif;
    font-size: 9pt;
}
.sm-h-font{
    font-family: regulator-nova, sans-serif;
    font-size: 14pt;
    font-weight: 200;
}

@media(min-width: 672px){
.md-p-font{
    font-family: regulator-nova, sans-serif;
    font-size: 12pt;
    }
.md-h-font{
    font-family: regulator-nova, sans-serif;
    font-size: 18pt;
    font-weight: 200;
    }
}

@media(min-width: 960px){
.lg-p-font{
    font-family: regulator-nova, sans-serif;
    font-size: 14pt;
    }
.lg-h-font{
    font-family: regulator-nova, sans-serif;
    font-size: 22pt;
    font-weight: 200;
    }
}