/* COLORS */
.navy{
    background-color: navy;
}
.tan{
    background-color: rgb(162,143,121);
}
.light-grey{
    background-color: rgb(234,232,230);
}
.clementine{
    background-color: rgb(204,134,78);
}
