.grid-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, auto);
    gap: 12px;
    background-image: url("test3-01.jpg");
    background-size: 100%;
}
.menu-img{
    height: 512px;
    grid-column: 2/span 5;
}
.menu-item{
    grid-column: 2/span 2;
    align-self: center;
}

.menu-price{
    grid-column: 5/span 1;
    align-self: center;
}
.sm-menu-headline{
    grid-column: 2/span 4;
}
@media(min-width: 672px){
    .grid-menu{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, auto);
        gap: 18px;
        background-image: url("test3-01.jpg");
        background-size: 100%;
    }  
}
@media(min-width: 960px){
    .grid-menu{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, auto);
        gap: 24px;
        background-image: url("test3-01.jpg");
        background-size: 100%;
        max-width: 1024px;
        margin: auto;
    } 
    .lg-menu-headline{
        grid-column: 3/span 4;
    }
    .lg-menu-item{
        grid-column: 3/span 3;
    }
    
    .lg-menu-price{
        grid-column: 9/span 1;
    }

}