nav{
    display: flex;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav li{
    padding: 10px 20px;
}
nav li a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}